<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
      <ion-title>Sign In</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="credentialForm">
    <ion-item>
      <ion-input 
      placeholder="Email address" 
      formControlName="email" 
      autofocus="true" 
      clearInput="true"
  
      ></ion-input>
    </ion-item>

    <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
      <span *ngIf="email.errors?.required">Email is required</span>
      <span *ngIf="email.errors?.email">Email is invalid</span>
    </div>

    <ion-item>
      <ion-input
      placeholder="Password"
      formControlName="password"
      autofocus="true"
      clearInput="true"
      type="password"
      ></ion-input>
    </ion-item>

    <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
      <span *ngIf="password.errors?.required">Password is required</span>
      <span *ngIf="password.errors?.minLength">Password should be at least 6 characters</span>
    </div>
  </form>


  <ion-button (click)="signUp()" expand="full">Sing Up</ion-button>
  <ion-button (click)="signIn()" expand="full" color="secondary">Sign In</ion-button>
</ion-content>
